// styles.css
@import "variables.scss";

body {
	font-size: $base-font;
}
h1 {
	font-size: $product-main-title;
}
header {
	padding: $padding 0;
}

.ch-main-container {
	text-align: center;
}

.ch-product-gallery,
.ch-product-info {
	display: inline-block;
	vertical-align: top;
}

.ch-product-info {
	max-width: 480px;
	text-align: left;
}