body {
  font-size: 13px; }

h1 {
  font-size: 2.3em; }

header {
  padding: 13px 0; }

.ch-items-recomended {
  padding: 13px 0; }

.ch-main-container {
  margin: auto;
  max-width: 1200px;
  text-align: center; }
